@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 100%;
}

#content {
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em;
    cursor: pointer;

}

.sidebar-icon p {
    margin: 0;
}

.sidebar-icon ion-icon {
    font-size: 1.5em;
}

#topbar {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50%;
}

#search-wrapper {
    display: flex;
    height: 50%;
}

#topbar-icons {
    display: flex;
    cursor: pointer;
}

.topbar-icon ion-icon {
    font-size: 2em;
    padding: 0.0.3em;

}

#mic-icon {
    margin: 0 0.5em;
    cursor: pointer;
}

#mic-icon ion-icon {
    font-size: 1.5em;
}

#search-btn {
    display: flex;
    padding: 0 0.6em;
    font-size: 1.3em;
    align-items: center;
    cursor: pointer;
}

#content {
    display: flex;
    flex-wrap: wrap;

}

#thumb-box {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#thumbnail {
    height: 15em;
}

#logo-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6em;
}

#epicode-logo {
    height: 40%;

}

#text {
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
    padding: 0 1.5em;
    margin: 1em;
}

#title-box {
    display: flex;
    flex-direction: column;

    padding: 0;
    font-weight: bold;
    font-size: 1.5em;

}

#title-box p {
    margin: 0;
}

#description-box {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

#description-box p {
    margin: 0;
}